.game_board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /*height: 250px;*/
  /*margin: 100px;*/
}
.square {
  height: 200px;
  width: 200px;
  border: 1px solid #C0C0C0;
  background-color: #C0C0C0;
  margin: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  color: #C0C0C0;
  font-size: 175px;
}
 
.info_box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin: 0px;
  flex-direction: column;
}
#userInput {
  /*margin: 50px;*/
  margin: 20px auto 20px;
  font-weight: bold;
  font-size: 20px;
  font-family: inherit;
  text-align: center;
  width: 694px;
  height: 45px;
  color: #C0C0C0;
}

#restart {
  margin: 14px auto 18px;
  border: none;
  height: 84px;
  width: 702px;
  font-weight: inherit;;
  font-size: inherit;
  font-family: inherit;
  padding: 0px;
  color: white;
}


body {
  margin:0;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 50px;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

textarea:focus, input:focus{
    outline: none;
}

p {
  background-color: #C0C0C0;
  padding: 12px 0px;
  width: 700px;
  text-align: center;
  margin: 15px auto 1px;
}

.results {
  margin: auto;
}

.title {
  margin: 0px auto 0px;
}
