.game_board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 250px;
  /*margin: 100px;*/
}
.square {
  height: 100px;
  width: 100px;
  border: 1px solid #C0C0C0;
  background-color: #C0C0C0;
  margin: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  color: #C0C0C0;
  font-size: 69px;
}

.info_box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  margin: 80px 0px 38px;
  flex-direction: column;
}
#userInput {
  /*margin: 50px;*/
  font-weight: bold;
  font-size: 20px;
  font-family: inherit;
  text-align: center;
  width: 294px;
  height: 45px;
  color: #C0C0C0;
}

#restart {
  margin: 0px auto 18px;
  border: none;
  height: 50px;
  width: 300px;
  font-weight: inherit;;
  font-size: inherit;
  font-family: inherit;
  padding: 0px;
  color: white;
}


body {
  margin:0;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

textarea:focus, input:focus{
    outline: none;
}

p {
  background-color: #C0C0C0;
  padding: 12px 0px;
  width: 300px;
  text-align: center;
}
