.game_board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /*margin: 100px;*/
}
.square {
  height: 100px;
  width: 100px;
  border: 2px solid grey;
  background-color: black;
  margin: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.info_box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 40px 0px;
  flex-direction: column;
}
#userInput {
  /*margin: 50px;*/
  font-weight: bold;
  font-size: 20px;
  font-family: inherit;
  text-align: center;
  width: 100px;
}

#restart {
  margin: 100px 0px 0px;
  border: none;
  height: 50px;
  /*width: 100px;*/
  font-weight: inherit;;
  font-size: inherit;
  font-family: inherit;
}


body {
  margin:0;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 20px;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

textarea:focus, input:focus{
    outline: none;
}
